[submodule "ratatui"]
	path = ratatui
	url = https://github.com/emosenkis/ratatui.git
[submodule "rat-salsa"]
	path = rat-salsa
	url = https://github.com/emosenkis/rat-salsa.git
[submodule "tmp-deps/ag-ui"]
	path = tmp-deps/ag-ui
	url = https://github.com/ag-ui-protocol/ag-ui.git
[submodule "tmp-deps/crokey"]
	path = tmp-deps/crokey
	url = https://github.com/Canop/crokey
