/mprocs.json
/mprocs.log
/mprocs.yaml

/npm/mprocs-*

/release/

# Cargo
/target
termin.log
terminai.log
terminai_*.log

# Environment variables
.env

# Vim
.*.swp

# Dependencies for reference
/tmp-deps
/deps

# Python
__pycache__/
*.py[cod]
*$py.class
.python-version
python/.venv
.venv
